body{
    margin:0;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    margin:0;
}

header{
    height:70px;
    width:100%;
    background-color:white;
    border-bottom:1px solid gray;
    position:fixed;
    top:0;
    z-index: 2;
    font-size:0;
}

.header-logo{
    height:46px;
    font-size:32px;
    font-family:Century;
    display:inline-block;
    background-color:midnightblue;
    color:white;
    padding:12px;
    margin:0;
    float:left;
}

.header-list li{
    float:left;
    list-style: none;
    font-size:15px;
    color:midnightblue;
    padding:27px 0 27px 15px;
}

.top-wrapper{
    padding:150px 0 400px 0;
    height:400px;
    background-image:url("https://cdn.pixabay.com/photo/2019/08/09/13/52/portrait-4395124__340.jpg");
    background-size:cover;
}

.container{
    text-align:center;
    width:1070px;
    margin:0 auto;
}

.heading h1{
    color: white;
    text-align: CENTER;
    font-size:48px;
    font-family:Century;
    opacity:0.7;
    margin-bottom:11px;
}

#syutty{
    color:magenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom:1px solid gray;
}

.maxim{
    margin-top:90px;
}

.btn{
    display:block;
    padding:9px 50px;
    color:black;
    opacity:0.67;
    margin-top:15px;
    font-size: 26px;
}

.btn:hover{
    opacity:0.6;
}

.dream{
    background-color:cyan
}

.time{
    background-color:yellowgreen;
}

.continuation{
    background-color:mistyrose;
}

.maxim p{
    display:inline-block;
    width:60%;
    font-size:1px;
    color:white;
    font-family: fantasy;
    opacity:0.1;
}

.introduction-wrapper{
    height:600px;
    padding:100px 0 ;
    background-color:azure;
    position:relative;
    z-index:10;
}

.greet span{
    display:inline-block;
    margin-top:5px;
    font-size:15px;
    color:black;
}

.introduction-wrapper p{
    width:500px;
    margin:0 auto;
    font-size:15px;
    text-align:left;
    letter-spacing: 1px;
}

.main-contents{
    height:450px;
    padding:80px 0;
    text-align:left;
    background-color:ghostwhite;
    position:relative;
    z-index:10;
}

h2{
    margin-bottom:10px;
    font-size:25px;
}

h3{
    margin:5px;
    font-size:18px;
}

.content{
    float:left;
    width:33%;
}

.content img{
    border-radius:25px;
}

.content p{
    display:inline-block;
    width:70%;
    font-size:16px;
}

.notice{
    height:150px;
    padding:50px 0;
}

footer{
    height:45px;
    background-color:darkblue;
    color:white;
}

.footer-logo{
    font-family:Century;
    margin:0 0 0 15px;
    float:left;
    font-size:22px;
}

.notice p{
    font-size:12px;
}

.instagram{
    display:inline-block;
    padding:15px 60px;
    background-color:magenta;
    color:white;
    border-radius:15px;
    font-size:18px;
    box-shadow:1px 10px darkmagenta;
}

.instagram:hover{
    opacity:0.8;
}

.instagram:active{
    box-shadow:none;
    position:relative;
    top:10px;
    left:1px;
}

.fa-camera-retro{
    margin-right:10px;
    font-size:18px;
}

@media all and(max-width:670px){
.container{
    width:100%;
}

.contents{
    flex-direction:column;
}

.content{
    margin:0 auto;
}

}
